*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #39d0ff;
}



.todolist-container{
    max-width: 700px;
    margin: 0 auto;
    background-color: #cff4fc;
    padding: 30px;
}

li{
    padding: 15px 0;
    
}